root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 4
indent_style = space
tab_width = 4
trim_trailing_whitespace = true

[*.{blend,gif,ico,jpg,png,pptx}]
charset = unset
end_of_line = unset
insert_final_newline = unset
indent_size = unset
indent_style = unset
tab_width = unset
trim_trailing_whitespace = unset

[*.bat]
charset = latin1
end_of_line = crlf
indent_size = 2

[*.css]
indent_size = 2

[*.toml]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[*.xml]
indent_size = 2

[*.html]
indent_size = 2

[*.rb]
indent_size = 2

[*.js]
indent_size = 2

[*.md]
indent_size = 2

[*.sh]
indent_size = 2

[*.wsb]
indent_size = 2

[/.gitmodules]
indent_style = tab

[/LICENSE]
indent_size = 1

[/docs/website/static/CNAME]
insert_final_newline = false
