root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 4
indent_style = space
tab_width = 4
trim_trailing_whitespace = true

[*.bat]
charset = latin1
end_of_line = crlf
indent_size = 2

[*.css]
indent_size = 2

[*.toml]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[*.xml]
indent_size = 2

[*.html]
indent_size = 2

[*.rb]
indent_size = 2

[*.{js,json,json5}]
indent_size = 2

[*.md]
indent_size = 2

[*.sh]
indent_size = 2

[*.txt]
indent_size = unset

[*.wsb]
indent_size = 2

[/.gitmodules]
indent_style = tab

[/LICENSE_*.txt]
indent_size = 1

[/docs/website/static/CNAME]
insert_final_newline = false

[/tests/resources/unity/**/Directory.Build.props]
indent_size = 2
end_of_line = crlf

[/tests/resources/unity/**.asmdef]
insert_final_newline = unset

[/tests/resources/unity/**.{asset,meta,unity}]
indent_size = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[/tests/resources/unity/*/*.sln]
indent_style = tab
end_of_line = crlf

[/tests/resources/unity/*/*.csproj]
end_of_line = crlf
indent_size = 2

[/tests/resources/unity/*/ProjectSettings/**/*.json]
indent_size = 4
insert_final_newline = unset

[/tests/resources/unity/*/{Library,Logs,Temp,UserSettings,obj,.idea,.vscode,.vs}/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
indent_size = unset
indent_style = unset
tab_width = unset
trim_trailing_whitespace = unset
generated_code = true

[*.{blend,gif,glb,ico,jpg,png,pptx,pyc,tga,vrm}]
charset = unset
end_of_line = unset
insert_final_newline = unset
indent_size = unset
indent_style = unset
tab_width = unset
trim_trailing_whitespace = unset

[{.git,.venv,node_modules}/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
indent_size = unset
indent_style = unset
tab_width = unset
trim_trailing_whitespace = unset

[**/{.ruff_cache,.mypy_cache}/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
indent_size = unset
indent_style = unset
tab_width = unset
trim_trailing_whitespace = unset
