[flake8]
# https://wiki.blender.org/wiki/Process/Addons/Guidelines
max-line-length = 120
extend-ignore =
    # https://github.com/MartinThoma/flake8-simplify/blob/0930f49e013f1e88903e8a94cfe9759b630f6b54/README.md?plain=1#L92-L98
    SIM9
per-file-ignores =
    # Dynamically generated tests can have misspelt words
    tests/test_GENERATED_*.py:SC200
    # Dynamically generated tests can have too long line
    tests/test_GENERATED_*.py:E501
    # https://stackoverflow.com/a/68429294
    tests/blender_test_*.py:S101
    # TODO: Use new blender process execution
    tests/base_blender_test_case.py:S404,S602,S603,S607
    tests/base_blender_gui_test_case.py:S404,S602,S603,S607
    # https://github.com/adamchainz/flake8-no-pep420/blob/2.0.0/README.rst#inp001-file-is-part-of-an-implicit-namespace-package
    scripts/*.py:INP001

dictionaries=en_US,python,technical
whitelist=dictionary.txt

ignore-names=
    # https://github.com/KhronosGroup/glTF-Blender-IO/blob/68f792c59c09abb10f70356ea6992750f9422744/example-addons/example_gltf_exporter_extension/__init__.py#L103
    glTF2ExportUserExtension
    # https://github.com/KhronosGroup/glTF-Blender-IO/blob/68f792c59c09abb10f70356ea6992750f9422744/example-addons/example_gltf_importer_extension/__init__.py#L67
    glTF2ImportUserExtension
    # https://wiki.blender.org/wiki/Reference/Release_Notes/2.80/Python_API/Addons#Naming
    IMPORT_SCENE_OT_vrm
    EXPORT_SCENE_OT_vrm
    ICYP_OT_*
    VRM_OT_*
    VRM_PT_*
    WM_OT_vrm_*
    # https://github.com/PyCQA/pep8-naming/blob/615b8e754ef251354c00dd3e56ce87bba1786ba1/README.rst#options
    setUp
    tearDown
    setUpClass
    tearDownClass
    setUpModule
    tearDownModule
    asyncSetUp
    asyncTearDown
    setUpTestData
    failureException
    longMessage
    maxDiff
