[flake8]
# https://wiki.blender.org/wiki/Process/Addons/Guidelines
max-line-length = 120
extend-ignore =
    # https://github.com/MartinThoma/flake8-simplify/blob/0930f49e013f1e88903e8a94cfe9759b630f6b54/README.md?plain=1#L92-L98
    SIM9
    # https://github.com/PyCQA/flake8-bugbear/commit/ef39e9a1b5306393ce42ea231d3174449a929c81#diff-7b3ed02bc73dc06b7db906cf97aa91dec2b2eb21f2d92bc5caa761df5bbc168fR172
    B028
per-file-ignores =
    # Dynamically generated tests can have misspelt words
    tests/test_GENERATED_*.py:SC200
    # https://stackoverflow.com/a/68429294
    tests/blender_test_*.py:S101
    # TODO: Use new blender process execution
    tests/base_blender_test_case.py:S404,S602,S603,S607
    tests/base_blender_gui_test_case.py:S404,S602,S603,S607
    # https://github.com/adamchainz/flake8-no-pep420/blob/2.0.0/README.rst#inp001-file-is-part-of-an-implicit-namespace-package
    scripts/*.py:INP001

dictionaries=en_US,python,technical

ignore-names=
    glTF2ExportUserExtension
    glTF2ImportUserExtension
    IMPORT_SCENE_OT_vrm
    EXPORT_SCENE_OT_vrm
    ICYP_OT_*
    VRM_OT_*
    VRM_PT_*
    WM_OT_vrm_*
    # https://github.com/PyCQA/pep8-naming/blob/615b8e754ef251354c00dd3e56ce87bba1786ba1/README.rst#options
    setUp
    tearDown
    setUpClass
    tearDownClass
    setUpModule
    tearDownModule
    asyncSetUp
    asyncTearDown
    setUpTestData
    failureException
    longMessage
    maxDiff
