*

!*/

!*.blend
!*.glsl
!*.jpeg
!*.md
!*.py
!*.pyi
!*.rb

!/.clang-format
!/.editorconfig
!/.flake8
!/.gitattributes
!/.github/*.yaml
!/.github/*.yml
!/.github/workflows/*.yml
!/.gitignore
!/.gitmodules
!/.markdownlint.yaml
!/LICENSE
!/LICENSE.*
!/Notice.txt
!/dictionary.txt
!/docs/*.jpg
!/docs/*.png
!/docs/*.pptx
!/docs/website/**
!/src/io_scene_vrm/README.txt
!/src/io_scene_vrm/editor/vroid2vrc_lipsync_recipe.json
!/poetry.lock
!/pyproject.toml
!/tools/*.bat
!/tools/*.dockerfile
!/tools/*.sh
!/tools/*.wsb
!/tests/ruff.toml
!/tests/resources

*.blend1
*~

.DS_Store
__pycache__/

/.idea/
/.venv/
/.vscode/
/docs/website/.hugo_build.lock
/docs/website/public/
/docs/website/resources/_gen/
/tests/test_generated_*
