*~
*.orig
.DS_Store
.mypy_cache/
.ruff_cache/
/.idea/
/.venv/
/.vscode/
/docs/.vitepress/cache/
/docs/.vitepress/dist/
/docs/website/.hugo_build.lock
/docs/website/public/
/docs/website/resources/_gen/
/node_modules/
/tests/resources/unity/*/*.csproj
/tests/resources/unity/*/*.sln
/tests/resources/unity/*/.idea/
/tests/resources/unity/*/.vs/
/tests/resources/unity/*/.vscode/
/tests/resources/unity/*/.vsconfig
/tests/resources/unity/*/Assets/StreamingAssets/External/**
/tests/resources/unity/*/Library/
/tests/resources/unity/*/Logs/
/tests/resources/unity/*/Temp/
/tests/resources/unity/*/UpgradeLog.htm
/tests/resources/unity/*/UserSettings/
/tests/resources/unity/*/obj/
/tests/resources/vrm/*/temp/
/tests/resources/vrm/in/*.temp*.blend
/tests/test_generated_*
__pycache__/
