[MASTER]
disable=attribute-defined-outside-init,
        bad-continuation,
        broad-except,
        cell-var-from-loop,
        consider-iterating-dictionary,
        duplicate-code,
        fixme,
        import-error,
        import-outside-toplevel,
        import-self,
        invalid-name,
        keyword-arg-before-vararg,
        line-too-long,
        missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring,
        no-self-use,
        no-value-for-parameter,
        pointless-string-statement,
        redefined-builtin,
        redefined-outer-name,
        relative-beyond-top-level,
        simplifiable-if-expression,
        too-few-public-methods,
        too-many-arguments,
        too-many-branches,
        too-many-instance-attributes,
        too-many-lines,
        too-many-locals,
        too-many-nested-blocks,
        too-many-public-methods,
        too-many-return-statements,
        too-many-statements,
        undefined-loop-variable,
        unidiomatic-typecheck,
        unnecessary-comprehension,
        unused-argument,
        unused-variable,
        useless-object-inheritance,
