[tool.poetry]
name = "io_scene_vrm"
version = "1.0.0" # Dummy version. See __init__.bl_info["version"] instead.
description = ""
authors = ["Isamu Mogi <isamu@leafytree.jp>", "iCyP"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7"
"fake-bpy-module-2.82" = "20210701"

[tool.poetry.dev-dependencies]
autoflake = "*"
black = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-no-pep420 = "*"
flake8-simplify = "*"
flake8-spellcheck = "*"
isort = "*"
mypy = "*"
pep8-naming = "*"
pylint = "*"

[tool.black]
target-version = ['py37']

[tool.mypy]
python_version = 3.7
strict = true
namespace_packages = true
explicit_package_bases = true

[[tool.mypy.overrides]]
module = [
    "bgl",
    "bmesh.*",
    "bpy.*",
    "bpy_extras.*",
    "gpu",
    "gpu_extras.*",
    "io_scene_gltf2.blender.exp.gltf2_blender_gather_materials",
    "mathutils",
    "__main__.io_scene_vrm",
    "__main__.io_scene_vrm.exporter.user_extension",
]
ignore_missing_imports = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
