main article header div.mt-8.mb-12.text-base {
  display: none;
}

.max-w-prose {
  max-width: none;
}

a {
  word-break: break-all;
}

.prose th,
td {
  vertical-align: baseline;
  padding-top: 0;
  padding-bottom: 0;
}

.prose th,
td a {
  font-size: 1.125rem;
  font-weight: bold;
}

.prose tr {
  border-bottom-width: 0;
}

.prose thead {
  border-bottom-width: 0;
}

.prose td a :where(img):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

main#main-content > section.mt-10.prose > p.py-8.border-t {
  margin: 0;
  padding: 0;
  border: none;
}

main#main-content > section.mt-10.prose > p.py-8.border-t > em {
  display: none;
}
