/* SPDX-License-Identifier: MIT OR GPL-3.0-or-later */

/* タイトル「VRM Format / VRM Add-on for Blender」が長すぎてサイドバーのスクロールバーと重なるので、
  サイドバーを--vp-nav-heightぶん下に移動 */
.Layout > aside.VPSidebar:not(.open) {
  --vp-layout-top-height: var(--vp-nav-height);
  padding-top: 0;
}

/* SideBarとNavBarの間の境界線のデザインがイマイチなので消す */
.VPNavBarTitle.has-sidebar .title {
  border-bottom-style: none;
}

/* SideBarと記事の間の境界線を、サイドバーとも重なるようにする */
.VPNavBar.has-sidebar .divider {
  --vp-sidebar-width: 0px;
}

.vp-doc img {
  /* Blenderのスクショは660pxにしている。ピクセルパーフェクトにしないとUIや文字がぼやけてしまう。 */
  max-width: min(660px, 100%);

  /* foo_icon.pngの表示調整 */
  display: inline;
  vertical-align: middle;
}
