/* SPDX-License-Identifier: MIT OR GPL-3.0-or-later */

html {
  /* Prevent the entire layout from being rearranged when the scrollbar appears or disappears during page transitions */
  overflow-y: scroll;
}

/* The title "VRM Format / VRM Add-on for Blender" is too long and overlaps with the sidebar's scrollbar,
  so move the sidebar down by --vp-nav-height */
.Layout > aside.VPSidebar:not(.open) {
  --vp-layout-top-height: var(--vp-nav-height);
  padding-top: 0;
}

/* Remove the border line between SideBar and NavBar as the design is not ideal */
.VPNavBarTitle.has-sidebar .title {
  border-bottom-style: none;
}

/* Make the border line between SideBar and articles overlap with the sidebar as well */
.VPNavBar.has-sidebar .divider {
  --vp-sidebar-width: 0px;
}

.vp-doc img {
  /* Blender screenshots are set to 660px. Must be pixel-perfect or UI and text will appear blurry. */
  max-width: min(660px, 100%);

  /* Display adjustment for foo_icon.png */
  display: inline;
  vertical-align: middle;

  border: 2px solid #444;
  border-radius: 2px;
}

.vp-doc img[src$=".gif"], .vp-doc img[src^="data:image/gif;"] {
  border: 0;
}

.vp-doc img.tutorial {
  max-width: 175px; /* Adjust to prevent horizontal scrollbars from appearing with table tags */
}

.vp-doc img.logo {
  border: 0;
}
