/* SPDX-License-Identifier: MIT OR GPL-3.0-or-later */
.vp-doc img {
  /* Blenderのスクショは660pxにしている。ピクセルパーフェクトにしないとUIや文字がぼやけてしまう。 */
  max-width: min(660px, 100%);

  /* foo_icon.pngの表示調整 */
  display: inline;
  vertical-align: middle;
}
