[project]
name = "io-scene-vrm-benchmarks"
version = "3.15.1"
readme = "README.md"
requires-python = "==3.10.*" # I actually want to use 3.9, but bpy 3.6.* doesn't allow it.
dependencies = [
  "io-scene-vrm",
  "pytest ==8.4.2",
  "pytest-codspeed ==4.1.1",
  "pytest-profiling ==1.8.1",
]

[tool.uv.sources]
io-scene-vrm = {workspace = true}

[tool.ruff]
extend = "../pyproject.toml"

[tool.ruff.lint]
extend-ignore = [
  "S101", # Use of `assert` detected
  "S603", # `subprocess` call: check for execution of untrusted input
]

[build-system]
requires = ["uv_build>=0.9.2,<0.10.0"]
build-backend = "uv_build"
