# SPDX-License-Identifier: MIT OR GPL-3.0-or-later
name: gh-pages

permissions: {}

on:
  push:
    branches:
      - main
      - website
  release:
  workflow_dispatch:
  workflow_run:
    workflows: [release-please]
    branches: [README]
    types: [completed]

jobs:
  deploy:
    environment:
      name: github-pages
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Switch
        run: |
          set -x

          if [ "$GITHUB_REF_NAME" == "README" ]; then
            git fetch --depth=1 origin main
            git checkout main
          fi
      - uses: denoland/setup-deno@v2
        with:
          deno-version-file: .dvmrc
      - name: Build
        run: |
          set -x

          if ! curl \
            --fail \
            --retry 20 \
            --retry-all-errors \
            --show-error \
            --location \
            --output releases_latest.json \
            --header "Accept: application/vnd.github.v3+json" \
            "https://api.github.com/repos/$GITHUB_REPOSITORY/releases/latest"; then

            if [ "$GITHUB_REPOSITORY_OWNER" != "saturday06" ]; then
              exit 0
            fi
            exit 1
          fi

          VITE_VRM_ADDON_FOR_BLENDER_LATEST_VERSION_NAME=$(ruby -rjson -e "puts JSON.parse(File.read('releases_latest.json'))['name']")
          export VITE_VRM_ADDON_FOR_BLENDER_LATEST_VERSION_NAME
          VITE_VRM_ADDON_FOR_BLENDER_LATEST_PUBLISH_DATE=$(ruby -rjson -e "puts JSON.parse(File.read('releases_latest.json'))['published_at']")
          export VITE_VRM_ADDON_FOR_BLENDER_LATEST_PUBLISH_DATE

          deno task docs:build

          mkdir -p docs/.vitepress/dist/releases
          legacy_addon_release_url=$(jq -r '[.assets[] | select(.name | test("^VRM_Addon_for_Blender-[0-9]"))] | first | .browser_download_url' releases_latest.json)
          if ! curl \
            --fail \
            --retry 20 \
            --retry-all-errors \
            --show-error \
            --location \
            --output docs/.vitepress/dist/releases/VRM_Addon_for_Blender-release.zip \
            "$legacy_addon_release_url"; then

            exit 1
          fi

          # README.mdやExtensions Platformからの画像リンクがある。そのうち整理する。
          mkdir -p docs/.vitepress/dist/images
          cp -fr docs/assets/images/*.gif docs/.vitepress/dist/images
      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v3
        with:
          path: docs/.vitepress/dist
      - uses: actions/deploy-pages@v4
        id: deployment
