# SPDX-License-Identifier: MIT OR GPL-3.0-or-later
name: lint

permissions: {}

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review, labeled]
  push:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Install deb packages
        run: sudo ./tools/install_ubuntu_packages.sh
      - uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version-file: .dvmrc
      - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      - name: Install UV dependencies
        run: |
          for _ in $(seq 5); do
            if uv sync; then
              break
            fi
          done
      - name: Check source code formatting
        run: |
          ./tools/format.sh
          git diff --exit-code
      - name: Check property type annotations
        run: |
          uv run python tools/property_typing.py > property_typing.log
          ./tools/format.sh
          git diff --exit-code
      - name: Install hadolint
        run: ./tools/install_hadolint.sh
      - name: Lint
        run: ./tools/lint.sh

  super-linter:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: main # for super-linter
          persist-credentials: false
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ci-super-linter-local-image.tar.gz
          key: ci-super-linter-local-image-archive-1
      - name: Super-Linter
        run: ./tools/super-linter.sh

  docs:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version-file: .dvmrc
      - name: Build
        run: deno task docs:build
