# SPDX-License-Identifier: MIT OR GPL-3.0-or-later
name: test

permissions: {}

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review, labeled]
  push:
  workflow_dispatch:

env:
  BLENDER_ARCHIVE_BASE_URL: https://download.blender.org/release

jobs:
  test-windows:
    name: test-windows / ${{ matrix.blender.job_name_postfix }}
    runs-on: windows-2025
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        blender:
          - job_name_postfix: blender 2.93
            archive_url_path: Blender2.93/blender-2.93.18-windows-x64.zip
          - job_name_postfix: blender 3.3
            archive_url_path: Blender3.3/blender-3.3.21-windows-x64.zip
          - job_name_postfix: blender 3.6
            archive_url_path: Blender3.6/blender-3.6.23-windows-x64.zip
          - job_name_postfix: blender 4.2
            archive_url_path: Blender4.2/blender-4.2.12-windows-x64.zip
          - job_name_postfix: blender 4.5
            archive_url_path: Blender4.5/blender-4.5.1-windows-x64.zip
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Cache archive
        id: cache-archive
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: tests/temp
          key: ${{ matrix.blender.archive_url_path }}-archive-10
      - name: Download archive
        if: ${{ steps.cache-archive.outputs.cache-hit != 'true' }}
        env:
          BLENDER_ARCHIVE_URL: ${{ env.BLENDER_ARCHIVE_BASE_URL }}/${{ matrix.blender.archive_url_path }}
        run: |
          $retry = 10
          for (; $true; $retry--) {
            try {
              Start-BitsTransfer tests\temp\blender.zip -Source $env:BLENDER_ARCHIVE_URL
              break
            } catch {
              if ($retry -le 0) {
                throw $_.Exception
              }
            }
            Start-Sleep -Seconds 60
          }
      - name: Test
        run: |
          Expand-Archive -LiteralPath tests\temp\blender.zip -DestinationPath tests\temp\blender
          $env:BLENDER_VRM_TEST_BLENDER_PATH = (Get-ChildItem "tests\temp\blender\*\blender.exe")[0].FullName
          & $env:BLENDER_VRM_TEST_BLENDER_PATH --background -noaudio --python-exit-code 1 --python tools\unittest_discover.py
      - name: Archive failed io test result
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: failure()
        with:
          name: VRMs (${{ github.job }} ${{ matrix.blender.job_name_postfix }})
          path: tests/resources/vrm/*/temp

  test-macos:
    name: test-macos / ${{ matrix.blender.job_name_postfix }}
    runs-on: macos-15
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        blender:
          - job_name_postfix: blender 2.93 arm64
            archive_url_path: Blender2.93/blender-2.93.18-macos-arm64.dmg
          - job_name_postfix: blender 3.3 arm64
            archive_url_path: Blender3.3/blender-3.3.21-macos-arm64.dmg
          - job_name_postfix: blender 3.6 arm64
            archive_url_path: Blender3.6/blender-3.6.23-macos-arm64.dmg
          - job_name_postfix: blender 4.2 arm64
            archive_url_path: Blender4.2/blender-4.2.12-macos-arm64.dmg
          - job_name_postfix: blender 4.5 arm64
            archive_url_path: Blender4.5/blender-4.5.1-macos-arm64.dmg
          - job_name_postfix: blender 4.5 x64
            archive_url_path: Blender4.5/blender-4.5.1-macos-x64.dmg
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Cache archive
        id: cache-archive
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: tests/temp
          key: ${{ matrix.blender.archive_url_path }}-archive-10
      - name: Download archive
        if: ${{ steps.cache-archive.outputs.cache-hit != 'true' }}
        env:
          BLENDER_ARCHIVE_URL: ${{ env.BLENDER_ARCHIVE_BASE_URL }}/${{ matrix.blender.archive_url_path }}
        run: |
          curl --fail --show-error --location --retry 5 --retry-all-errors --output tests/temp/blender.dmg "$BLENDER_ARCHIVE_URL"
      - name: Install dependencies
        run: |
          for retry in $(seq 5 -1 0); do
            if [ "$retry" -eq 0 ]; then
              >&2 echo "Failed to install dependencies"
              exit 1
            fi
            if brew update && perl -e 'alarm 300; exec @ARGV' -- brew install ffmpeg imagemagick; then
              break
            fi
            sleep 300
          done
      - name: Test
        run: |
          unpack_path=$(mktemp -d)
          hdiutil attach tests/temp/blender.dmg -mountpoint "$unpack_path"
          cp -fr "${unpack_path}/Blender.app" tests/temp
          hdiutil detach "$unpack_path" || true
          ./tests/temp/Blender.app/Contents/MacOS/blender --background -noaudio --python-exit-code 1 --python tools/unittest_discover.py
      - name: Archive failed io test result
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: failure()
        with:
          name: VRMs (${{ github.job }} ${{ matrix.blender.job_name_postfix }})
          path: tests/resources/vrm/*/temp

  test-linux:
    name: test-linux / ${{ matrix.blender.job_name_postfix }}
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        blender:
          - job_name_postfix: blender 4.5
            archive_url_path: Blender4.5/blender-4.5.1-linux-x64.tar.xz
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Cache archive
        id: cache-archive
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: tests/temp
          key: ${{ matrix.blender.archive_url_path }}-archive-10
      - name: Download archive
        if: ${{ steps.cache-archive.outputs.cache-hit != 'true' }}
        env:
          BLENDER_ARCHIVE_URL: ${{ env.BLENDER_ARCHIVE_BASE_URL }}/${{ matrix.blender.archive_url_path }}
        run: |
          curl --fail --show-error --location --retry 5 --retry-all-errors --output tests/temp/blender.tar.xz "$BLENDER_ARCHIVE_URL"
      - name: Install dependencies
        run: sudo ./tools/install_ubuntu_packages.sh
      - name: Test
        run: |
          blender_base_path="$PWD/tests/temp/blender"
          mkdir -p "$blender_base_path"
          tar -x --strip-components=1 -f tests/temp/blender.tar.xz -C "$blender_base_path"
          "${blender_base_path}/blender" --background -noaudio --python-exit-code 1 --python tools/unittest_discover.py
      - name: Archive failed io test result
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: failure()
        with:
          name: VRMs (${{ github.job }} ${{ matrix.blender.job_name_postfix }})
          path: tests/resources/vrm/*/temp
