# SPDX-License-Identifier: MIT OR GPL-3.0-or-later

name: update-deno-dependencies

permissions: {}

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

env:
  PR_BRANCH: update-deno-dependencies
  PR_BASE_BRANCH: main

jobs:
  update-deno-dependencies:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ env.PR_BASE_BRANCH }}
      - name: Switch to working branch
        run: git checkout -b "$PR_BRANCH"
      - uses: denoland/setup-deno@v2
        with:
          deno-version: vx.x.x
      - name: Update .dvmrc
        run: deno eval 'console.log(Deno.version.deno)' | tee .dvmrc
      - name: Update deno.jsonc and deno.lock
        run: |
          # deno outdatedだけだと、deno.lockのspecifiersの
          # `"npm:vitepress@*": "1.6.3_vite@ ... @types+node@22.15.21"`
          # のtypes+nodeのバージョンが固定されたままなので、deno.lock自体を作り直す
          rm deno.lock

          deno outdated --latest --update

          # deno.lockから `"npm:vitepress@*": ...` が消えるので、復活させる
          deno run docs:build
      - name: Create PR
        run: |
          set -x

          git add .
          if git diff --cached --exit-code; then
            exit 0
          fi

          git config --global user.name "$GIT_USER_NAME"
          git config --global user.email "$GIT_USER_EMAIL"
          git commit -m 'chore(deps): update deno dependencies [BOT]'

          git fetch --prune origin "$PR_BRANCH" || true
          if git diff --exit-code "origin/$PR_BRANCH" --; then
            exit 0
          fi

          # GH_TOKENが無効な場合はここでエラー終了
          if ! gh repo view --json name --jq .name; then
            echo "GH_TOKEN is invalid or expired"
            exit 1
          fi

          # ブランチをforce pushして既存のPRを再利用したいが、それだとPRの
          # Status Checksが実行されないようなので毎回PRを作り直すようにした。
          # 本当は --delete-branch オプションを使いたいが、それだと後処理として
          # デフォルトブランチをチェックアウトしようとしてエラーになるのでつけない。
          gh pr close "$PR_BRANCH" || true

          git push -f origin "$PR_BRANCH"

          gh pr create --base "$PR_BASE_BRANCH" --fill
          gh pr merge --merge --auto
        env:
          # https://github.com/orgs/community/discussions/40405#discussioncomment-8361451
          GIT_USER_NAME: ${{ format('[BOT] {0}', github.actor) }}
          GIT_USER_EMAIL: ${{ format('{0}+{1}@users.noreply.github.com', github.actor_id, github.actor) }}
          # GH_TOKENには次の権限を設定する
          #   Actions       | Read and write | PR作成時に自動でActionsを実行する用
          #   Contents      | Read and write | PR自動マージ用
          #   Pull requests | Read and write | PR作成用
          GH_TOKEN: ${{ secrets.UPDATE_DENO_DEPENDENCIES_GH_TOKEN }}
        if: ${{ env.GH_TOKEN }}
